<h1>List of users</h1>
<form action="/add_user" method="post">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="add_username" placeholder="Enter a username...">
  <button>Add user</button>
</form>

<%if flash[:notice] %>
<div class="error"> <%=flash[:notice] %> </div>
<% end %>

<hr>
<table border="1">
  <tbody>
    <tr>
      <th>
        ID
      </th>
      <th>
        Username
      </th>
      <td>
      </td>
    </tr>
    <%User.all.each do |user|%>
      <tr>
        <td>
          <%=user.id%>
        </td>
        <td>
          <%=user.username%>
        </td>
        <td>
          <a href="/users/<%=user.username%>">
            Show details
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>